__pycache__/
*.pyc
.venv/
venv/
.env
.pytest_cache/
data/raw/*
!data/raw/.gitkeep
data/processed/
*.pkl
*.joblib
cdk.out/
node_modules/
.ipynb_checkpoints/

data/NASA_*
*.egg-info/

build/
data/glue_out/
data/sm_out/
data/sample_payload.json
data/endpoint_out.json
